@page "{id:int?}"
@model Proiect_MP1.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Categorii</h2>

<p>
    <a asp-page="Create" style="color:#212529">Creează</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryData.Categories)
        {
            string selectedRow = "";
            if (item.ID == Model.CategoryID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID" style="color:#212529">Selectează</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color:#212529">Editează</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" style="color:#212529">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color:#212529">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.CategoryData.Evenimente != null)
{
    <h3>Evenimente din categoria selectată</h3>
    <table class="table">

        @foreach (var eveniment in Model.CategoryData.Evenimente)
        {
            string selectedRow = "";
            if (eveniment.ID == Model.CategoryID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>@eveniment.Nume</td>
                <td>@eveniment.EventPlanner?.EventPlannerName</td>
            </tr>
        }
    </table>
}