@page "/"
@model Proiect_MP1.Pages.Evenimente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:black">Listă evenimente</h1>

<p>
    <a asp-page="Create" style="color:#212529">Creează</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Caută evenimentul după numele său sau al organizatorului:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Înapoi la lista completă</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeSort">
                @Html.DisplayNameFor(model => model.Eveniment[0].Nume)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EventPlannerSort">
                @Html.DisplayNameFor(model => Model.Eveniment[0].EventPlanner.EventPlannerName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].DataInceput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].DataSfarsit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eveniment[0].EventCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventD.Evenimente)
        {
            string selectedRow = "";
            if (item.ID == Model.EventID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.EventPlanner.EventPlannerName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInceput)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DataSfarsit)
             </td>
            
                <td>
                    @{
                        foreach (var category in item.EventCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
             <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color:#212529">Editează</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" style="color:#212529">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color:#212529">Șterge</a>
             </td>
        </tr>
}
    </tbody>
</table>
