@page "{id:int?}"
@model Proiect_MP1.Pages.EventPlanners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Organizatori</h2>

<p>
    <a asp-page="Create">Creați</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nume organizator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventPlannerData.EventPlanners)

        {

            string selectedRow = "";

            if (item.ID == Model.EventPlannerID)

            {

                selectedRow = "table-success";

            }
            <tr class="@selectedRow">
                <td>
                    @($"{item.FirstName} {item.LastName}")
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Selectează</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editează</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.EventPlannerData.Evenimente != null)
{
    <h3>Evenimente organizate de organizatorii selectați</h3>
    <table class="table">

        @foreach (var item in Model.EventPlannerData.EventPlanners)
        {
            string selectedRow = "";
            if (item.ID == Model.EventPlannerID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Evenimente)
                        {

                            @b.Nume @: @b.Locatie

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}